.DS_Store
web/prisma/node_modules
web/prisma/migrations
web/yarn.lock

search/search-service-deploy-key.json
search/airtable
search/yarn.lock
search/data*
search/tmp_scripts

/fo.txt
*.swo
*.swp
.idea

node_modules
package-lock.json
yarn.lock

.vercel

data/.venv
